.container {
  width: 100%;
  padding: 20px 0 0 20px;
}

.contents {
  list-style-type: none;
  > li {
    margin-bottom: 15px;
    opacity: 0.7;
    color: rgb(196, 196, 196);
    > a {
      display: flex;
      > span {
        margin-left: 15px;
        line-height: 36px;
      }
    }
    &:hover {
      opacity: 1;
    }
  }
}
